* {
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    margin: 0px;
}

.add-scroll {
    scroll-behavior: smooth;
}

.material-icons {
    font-family: Material Icons;
}

.up {
    position: fixed;
    bottom: 50px;
    right: 60px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    color: white;
    text-align: center;
    background-color: #636363a6;
    z-index: 6;
}

.up span {
    width: 100%;
    height: 100%;
    font-size: 54px;
}

.head {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    color: #0000009c;
    z-index: 4;
    background-color: white;
}

.head .icons span {
    font-size: 36px;
}

.logo {
    font-size: 10px;
}

.menu_button {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 5;
}

.menu_button span {
    font-size: 6vh;
    color: #0000009c;
}

.menu_button button {
    background-color: inherit;
    border: none;
}

.menu {
    left: -22%;
    position: fixed;
    top: 10vh;
    width: 22%;
    height: 90vh;
    background-color: #4e4b4bd4;
    z-index: 5;
    transition: left 0.4s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu div {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 3;
}

.menu div a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.open_menu {
    left: 0px;
    position: fixed;
}

.common {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.container-1 {
    height: 95vh;
    background: url(./assets/main\ picture.jpg);
    background-size: 100%;
    background-position-y: center;
    margin-top: 10vh;
    opacity: 0.9;
}

.container-1-dop {
    position: absolute;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 95vh;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-repeat: no-repeat;
    align-items: center;
    opacity: 1;
    z-index: 1;
}

.container-1-dop .title {
    text-align: center;
    font-size: 70px;
    color: #2cc9d7;
    font-weight: bold;
    width: 80%;
    background-color: #63636378;
}

.container-1-dop .text {
    color: white;
    font-size: 22px;
    text-align: center;
    width: 80%;
    background-color: #6363634d;
}

.container-2 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    position: relative;
}

.container-2 .about {
    position: absolute;
    width: 17vw;
    height: 10vh;
    left: 2vw;
    top: -5vh;
    font-size: 50px;
    color: #4e4b4b;
    font-weight: bold;
}

.container-2 .picture {
    width: 55%;
    height: 100%;
    background: url(./assets/map\ picture.png);
    background-size: 74%;
    background-repeat: no-repeat;
    margin-left: 5vw;
    margin-top: 5vh;
}

.container-2 .animation-text {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 470px;
    height: 7%;
    margin-bottom: 30px;
}

.counter .digit {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #2daed6;
    font-weight: bold;
}

.counter .text-description {
    flex-grow: 1;
    height: 100%;
    line-height: 6vh;
    font-size: 28px;
    color: #4e4b4b;
}

.container-3 {
    height: 200vh;
    background-color: rgb(239 239 239);
    position: relative;
    padding-top: 45px;
    margin-top: 100px;
}

.container-3 .nextTur {
    width: 100%;
    height: 75px;
    margin-left: 6vw;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #4e4b4b;
}

.container-3 .content {
    height: 38%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-3 .content .tur-1 {
    width: 500px;
    height: 100%;
    margin: 30px;
    background: url(./assets/tur-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    position: relative;
}

.container-3 .content .tur-2 {
    width: 500px;
    margin: 30px;
    height: 100%;
    background: url(./assets/tur-2.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
    position: relative;
}

.container-3 .content .tur-3 {
    width: 500px;
    height: 100%;
    margin: 30px;
    background: url(./assets/tur-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    position: relative;
}

.container-3 .content .tur-4 {
    width: 500px;
    height: 100%;
    margin: 30px;
    background: url(./assets/tur-4.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
    position: relative;
}

.container-3 .content .tur-1 .place {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 76%;
    height: 78%;
    background-color: #2dc8d6;
    position: absolute;
    left: 0px;
    top: 30px;
}

.container-3 .content .tur-1:hover .place {
    background-color: #2dc8d6;
    opacity: 0.8;
}

.container-3 .content .tur-1 .place .city,
.container-3 .content .tur-2 .place .city,
.container-3 .content .tur-3 .place .city,
.container-3 .content .tur-4 .place .city {
    text-align: end;
    width: 100%;
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding-right: 10px;
}

.container-3 .content .tur-1 .place .date,
.container-3 .content .tur-2 .place .date,
.container-3 .content .tur-3 .place .date,
.container-3 .content .tur-4 .place .date {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px;
}

.container-3 .content .tur-1 .place .date .date-text,
.container-3 .content .tur-1 .place .date .date-text,
.container-3 .content .tur-2 .place .date .date-text,
.container-3 .content .tur-3 .place .date .date-text,
.container-3 .content .tur-4 .place .date .date-text {
    font-size: 16px;
    color: white;
    height: 18%;
}

.container-3 .content .tur-1 .place .date .date-exact,
.container-3 .content .tur-2 .place .date .date-exact,
.container-3 .content .tur-3 .place .date .date-exact,
.container-3 .content .tur-4 .place .date .date-exact {
    width: 70%;
    height: 26%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-end;
}

.container-3 .content .tur-1 .place .date .date-exact div,
.container-3 .content .tur-2 .place .date .date-exact div,
.container-3 .content .tur-3 .place .date .date-exact div,
.container-3 .content .tur-4 .place .date .date-exact div {
    width: 44%;
    height: 84%;
    background-color: white;
    border-radius: 18px;
    color: #4d4b4b;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    margin: 4px;
}

.container-3 .content .tur-1 .place .direction,
.container-3 .content .tur-2 .place .direction,
.container-3 .content .tur-3 .place .direction,
.container-3 .content .tur-4 .place .direction {
    font-size: 13px;
    padding-right: 10px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-3 .content .tur-1 .place .follow,
.container-3 .content .tur-2 .place .follow,
.container-3 .content .tur-3 .place .follow,
.container-3 .content .tur-4 .place .follow {
    width: 30%;
    height: 9%;
    border-radius: 20px;
    margin-right: 13px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 32px;
}

.container-3 .content .tur-1 .place .follow {
    background-color: #fb306a;
}

.container-3 .content .tur-2 .place .follow {
    background-color: #2dc8d5;
}

.container-3 .content .tur-3 .place .follow {
    background-color: #fdbe00;
}

.container-3 .content .tur-4 .place .follow {
    background-color: #126eb8
}

.container-3 .content .tur-1 .place .follow a,
.container-3 .content .tur-2 .place .follow a,
.container-3 .content .tur-3 .place .follow a,
.container-3 .content .tur-4 .place .follow a {
    text-decoration: none;
    color: white;
    font-size: 9px;
}

.container-3 .content .tur-2 .place {
    width: 76%;
    height: 78%;
    background-color: #fb306a;
    position: absolute;
    right: 0px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.container-3 .content .tur-2:hover .place {
    background-color: #fb306a;
    opacity: 0.8;
}

.container-3 .content .tur-3 .place {
    width: 76%;
    height: 78%;
    background-color: #106fb9;
    position: absolute;
    left: 0px;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.container-3 .content .tur-3:hover .place {
    background-color: #106fb9;
    opacity: 0.8;
}

.container-3 .content .tur-4 .place {
    width: 76%;
    height: 78%;
    background-color: #febf00;
    position: absolute;
    right: 0px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.container-3 .content .tur-4:hover .place {
    background-color: #febf00;
    opacity: 0.8;
}

.container-4 {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    position: relative;
}


/* .container-4 .main-review {
    position: absolute;
    font-size: 7vh;
    top: 4vh;
    left: 9vw;
} */

.button-container {
    display: flex;
    height: 50%;
    margin-left: 10vw;
}

.review {
    min-width: 590px;
    height: 84%;
    background-color: #5a57571c;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: relative;
}

.review .line {
    position: absolute;
    right: 12px;
    top: 9vh;
    width: 3px;
    height: 32vh;
    background-color: #76abae;
}

.container-4 button {
    border: 1px solid #2daed6;
    width: 121px;
    height: 52px;
    border-radius: 27px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
}

.container-4 button span {
    font-size: 32px;
    color: white;
    margin-left: 14px;
}

.review .people {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 4vh;
    left: 3vw;
    border-radius: 50%;
    overflow: hidden;
}

.review .people-review {
    position: absolute;
    bottom: 4vh;
    right: 6vw;
    width: 22vw;
    height: 30vh;
    text-align: center;
    color: #5a5757;
}

.people .image {
    width: 100%;
    height: 117%;
}

.review .name {
    position: absolute;
    width: 9vw;
    height: 8vh;
    bottom: 12vh;
    left: 5vh;
    text-align: center;
    color: gray;
    line-height: 4vh;
}

.container-5-1 {
    height: 73vh;
    background-color: #eeefef;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-5 {
    height: 70%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.container-5 .contact {
    font-size: 35px;
    position: absolute;
    top: -12vh;
    left: 3vw;
    width: 282px;
    height: 69px;
    color: #4d4b4b;
    font-weight: bold;
}

.container-4 .main-review {
    top: -5vh;
    font-size: 8vh;
}

.container-5 .type-1 {
    background-color: #76abaea6;
}

.container-5 .type-2 {
    background-color: #76abaea6;
}

.container-5 .content {
    width: 50%;
    height: 100%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 20px;
    color: #4e4b4b;
    padding-top: 4vh;
    line-height: 5vh;
    text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
}

.container-5 .content-1 {
    margin-bottom: 25px;
    transition: 0.5s linear;
}

.container-5 .open-content-1 {
    margin-bottom: -10px;
}

.container-5 .content-2 {
    display: flex;
    flex-direction: row;
}

.container-5 .address {
    margin-left: 10px;
    margin-bottom: 12px;
}

.container-6 {
    height: 80vh;
    background-color: #efefef;
    position: relative;
}

.container-6 .review-title {
    height: 14%;
    font-size: 42px;
    font-weight: bolder;
    color: #4e4b4b;
    padding-left: 6vw;
    margin-bottom: 4vh;
}

.container-6 .review-button {
    position: absolute;
    top: -1vh;
    right: 6vw;
    height: 12%;
    width: 139px;
    display: flex;
    flex-direction: row;
}

.container-6 .review-button span {
    font-size: 30px;
    color: #4d4b4b;
}

.container-6 .review-button button {
    width: 50%;
    border: none;
    background-color: inherit;
    height: 100%;
}

.container-6 .form-container {
    width: 100%;
    overflow: hidden;
    height: 75%;
}

.container-6 .form {
    display: flex;
    transition: transform 0.5s ease-in;
    transform: translateX(0);
}

.container-6 .form img {
    width: 100%;
    background-size: 100%;
}

.button-ua,
.button-pol {
    width: 420px;
    height: 85px;
    transition: 0.3s linear;
}

.pol-address,
.ua-address {
    font-size: 18px;
    color: #4e4b4b;
    text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
}

.button-ua-down {
    margin-bottom: 10%;
}

.button-ua button,
.button-pol button {
    width: 16%;
    height: 100%;
    margin-left: -12px;
    background: transparent;
    border: none;
}

.button-ua span,
.button-pol span {
    vertical-align: -1vh;
    font-size: 30px;
}

.button-ua button:hover .button-ua,
.button-pol button:hover .button-pol {
    text-decoration: underline;
}

.ua-address,
.pol-address {
    display: none;
}

.button-ua .ua-address-open,
.button-pol .pol-address-open {
    display: block;
}

.basket-container {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 5;
    border-radius: 50%;
    overflow: hidden;
}

.basket-container span {
    font-size: 5vh;
    color: #636363;
}

.basket-container button {
    background-color: inherit;
    border: none;
}

.basket {
    position: fixed;
    top: 28%;
    right: -105%;
    transform: translateX(-50%);
    width: 55%;
    min-height: 44%;
    background-color: white;
    z-index: 5;
    transition: right 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow-y: auto;
}

.open_basket {
    right: -5%;
    padding-bottom: 50px;
    padding-top: 50px;
    box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
}

.sum {
    position: absolute;
    height: 50px;
    top: 0px;
    right: 30px;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: black;
    text-shadow: 1px 1px 8px rgba(207, 150, 150, 1);
}

.basket .sum-dop {
    top: 0px;
    left: 30px;
    text-shadow: none
}

.basket-2 {
    width: 100%;
    height: 44px;
}

.basketType {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.tourName {
    width: 50%;
    height: 100%;
}

.tourDate {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-bottom: 1px solid rgb(150 150 150 / 33%);
}

.tourPrice {
    width: 20%;
    height: 100%;
}

.tourName,
.tourPrice,
.deleteTur {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-bottom: 1px solid rgb(150 150 150 / 33%);
}

.deleteTur {
    width: 15%;
    height: 100%;
    background-color: #eb3770d6;
    display: none;
}

.deleteTur span {
    color: white;
    font-size: 2vw;
}

.deleteTur button {
    background-color: inherit;
    border: none;
    width: 100%;
    height: 100%;
}

.basketType:hover .deleteTur {
    display: flex;
}

.dialog-container {
    width: 100%;
    height: 100vh;
    background-color: #343434b5;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    z-index: 3;
}

.show {
    display: flex;
    animation: opacity 0.5s ease;
}

.dialog {
    width: 48%;
    height: 30%;
    background-color: white;
    border-radius: 4px;
    position: relative;
    padding-top: 30px;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 26px;
    width: 40px;
    height: 30px;
    text-align: center;
}

.close-button span {
    width: 100%;
    height: 100%;
    font-size: 26px;
}

.close-button button {
    background-color: inherit;
    border: none;
    width: 100%;
    height: 100%;
}

.close-button:hover button {
    animation: new linear 0.3s;
    animation-iteration-count: 1;
}

@keyframes new {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.dialog-content {
    color: #5e5d5d;
    padding-left: 20px;
    margin-bottom: 40px;
}

.dialog-content .text-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.dialog-content .text {
    font-size: 16px;
}

.dialog-input {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dialog-input input {
    width: 320px;
    height: 46px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.send-button {
    border-radius: 24px;
    width: 128px;
    height: 45px;
    font-size: 16px;
    background-color: #eb3770d6;
    border: none;
    color: white;
}