* {
    font-family: sans-serif;
    box-sizing: border-box;
}


/* 
html {
    scroll-behavior: smooth;
} */

body {
    margin: 0%;
}

.container-1 {
    width: 100vw;
    height: 100vh;
}

.material-icons {
    font-family: Material Icons;
}

.head {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100%;
    padding-bottom: 1vh;
    box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    z-index: 1;
}

.head .menu_button {
    width: 6%;
    height: 56%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 25%;
    left: 1%;
}

.logo {
    height: 50%;
    font-size: 2vw;
    color: black;
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 9px rgba(150, 150, 150, 1);
}

.logo span {
    margin-left: 10px;
}

.menu_button span {
    font-size: 8vh;
    color: white
}

.menu_button-scroll {
    background-color: cadetblue;
}

.menu_button button {
    background-color: inherit;
    border: none;
}

.menu {
    position: absolute;
    left: -25%;
    top: 0px;
    width: 25%;
    height: 100vh;
    background-color: #0000007a;
    z-index: 1;
    transition: left 1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15vh;
}

.open_menu {
    left: 0px;
}

.head-parameter {
    width: 30%;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4%;
}

.head-parameter a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.head-line {
    width: 100%;
    height: 10%;
    background-color: white;
    visibility: hidden;
}

div.head-parameter:hover .head-line {
    visibility: visible;
}

.container-1 .backgroundAll {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.container-1 .background {
    width: 25%;
    opacity: 0.8;
}

.container-1 .type-1 {
    background: url(./picture/ig__echkenko_.jpeg);
    background-size: cover;
    max-height: 100%;
    background-repeat: no-repeat;
}

.container-1 .type-2 {
    background: url(./picture/Side’.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-1 .type-3 {
    background: url(./picture/Природа.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-1 .type-4 {
    background: url(./picture/Море\ 2021_\ Пляж.\ Песок.\ Морская\ пена.\ Заставка\ на\ телефон.\ Эстетика.\ Обои.\ Фото);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-1 .text {
    width: 65vw;
    font-size: 7vh;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    color: white;
}

.container-4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-4 .carousel {
    width: 80%;
    height: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .button-container {
    width: 100%;
    height: 75%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
}

.button-container .button-left button,
.button-container .button-right button {
    background: none;
    border: none;
    width: 10vh;
    height: 10vh;
}

.button-container .button-left button span,
.button-container .button-right button span {
    font-size: 7vh;
    color: white;
}

.container-4 .carousel img {
    width: 100%;
    height: 75%;
    opacity: 0.8;
}

.container-2 {
    border: 1px solid black;
    margin-bottom: 100px;
    width: 100vw;
    height: 64vh;
}

.container-4 .text-container {
    position: absolute;
    z-index: 1;
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-4 .text-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 50%;
    text-align: center;
    line-height: 2;
    height: 48px;
}

.container-4 .text-container .link {
    border: 2px solid white;
    margin-top: 100px;
}

.container-4 .text-container .text-description {
    font-size: 7vh;
    color: rgb(9 8 8 / 74%);
    text-align: center;
    background-color: #ffffff69;
}

.container-3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 68px;
    padding-left: 10vw;
    margin-top: 50px;
    position: relative;
}

.about {
    position: absolute;
    width: 17vw;
    right: 2vw;
    height: 10vh;
    top: 6vh;
    font-size: 7vh;
    color: #4e4b4be3;
    font-weight: bold;
    text-shadow: 0px 0px 24px rgba(150, 150, 150, 0.89);
}

.container-3 .picture {
    width: 55%;
    height: 100%;
    background: url(./picture/Снимок\ экрана\ 2021-12-22\ в\ 15.04.26.png);
    background-size: 74%;
    background-repeat: no-repeat;
}

.container-3 .animation-text {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 470px;
    height: 7%;
    margin-bottom: 30px;
}

.counter .digit {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #2daed6;
    font-weight: bold;
}

.counter .text-description-2 {
    flex-grow: 1;
    height: 100%;
    line-height: 6vh;
    font-size: 28px;
    color: #4e4b4b;
}

.container-5 {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

.container-5_2 {
    min-width: 600px;
    height: 100%;
    background-color: #5a57571c;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    margin-right: 7vw;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.container-5 .about-review {
    font-size: 7vh;
    top: 4vh;
    left: 9vw;
}

.review {
    width: 69vh;
    height: 47vh;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.22);
}

.button-onclick {
    display: flex;
    height: 50%;
    margin-left: 10vw;
}

.container-5 button {
    border: none;
    border: none;
    background: #76abaea6;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 10px;
    display: flex;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.container-5 button span {
    font-size: 32px;
    color: white;
    margin-left: 14px;
}

.review .people {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 4vh;
    left: 3vw;
    border-radius: 50%;
    overflow: hidden;
}

.review .people-review {
    position: absolute;
    bottom: 7vh;
    right: 4vw;
    width: 17vw;
    height: 30vh;
    text-align: center;
    color: #5a5757;
    ;
}

.people .image-2 {
    width: 100%;
    height: 117%;
}

.name {
    position: absolute;
    width: 9vw;
    height: 8vh;
    bottom: 12vh;
    left: 5vh;
    text-align: center;
    color: gray;
    line-height: 4vh;
}

.review .line {
    position: absolute;
    right: 12px;
    top: 6vh;
    width: 3px;
    height: 32vh;
    background-color: #76abae;
}

.container-6 {
    width: 100vw;
    height: 52vh;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.container-6 .type-1 {
    background-color: #5a575742;
}

.container-6 .type-2 {
    background-color: #76abae4f;
}

.container-6 .content {
    width: 50%;
    height: 100%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 20px;
    color: #4e4b4b;
    padding-top: 4vh;
    line-height: 5vh;
    text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
}

.container-6 .content-1 {
    margin-bottom: 25px;
}

.container-6 .content-1_2-open {
    margin-bottom: -10px;
}

.container-6 .content-2 {
    display: flex;
    flex-direction: row;
}

.container-6 .type-1_1 {
    margin-left: 10px;
    margin-bottom: 12px;
}

.button-ua,
.button-pol {
    width: 420px;
    height: 85px;
}

.pol-address,
.ua-address {
    font-size: 18px;
    color: #4e4b4b;
    text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
}

.button-ua-down {
    margin-bottom: 10%;
}

.button-ua button,
.button-pol button {
    width: 16%;
    height: 100%;
    margin-left: -12px;
    background: transparent;
    border: none;
}

.button-ua span,
.button-pol span {
    vertical-align: -1vh;
    font-size: 30px;
}

.button-ua button:hover .button-ua,
.button-pol button:hover .button-pol {
    text-decoration: underline;
}

.ua-address,
.pol-address {
    display: none;
}

.button-ua .ua-address-open,
.button-pol .pol-address-open {
    display: block;
}