* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.container-1 {
    width: 100vw;
    height: 100vh;
}

.material-icons {
    font-family: Material Icons;
}

.head {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100%;
    padding-bottom: 1vh;
    box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 11px 13px 3px rgba(0, 0, 0, 0.41);
    z-index: 1;
}

.head .menu_button {
    width: 12%;
    height: 56%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 25%;
    left: 1%;
}

.logo {
    font-size: 3vh;
    color: black;
}

.menu_button span {
    font-size: 6vh;
    color: white
}

.menu_button button {
    background-color: inherit;
    border: none;
}

.menu {
    position: absolute;
    left: -25%;
    top: 0px;
    width: 25%;
    height: 100vh;
    background-color: #0000007a;
    z-index: 1;
    transition: left 1s linear;
}

.open_menu {
    left: 0px;
}

.head-parameter {
    width: 7%;
    height: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6%;
}

.head-parameter a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.head-line {
    width: 100%;
    height: 10%;
    background-color: white;
    visibility: hidden;
}

div.head-parameter:hover .head-line {
    visibility: visible;
}